langchain
langchain-community
langchain-ollama
langchain-chroma
chromadb
streamlit
pypdf
python-dotenv
scikit-learn
boto3
pinecone-client
langchain-pinecone
langchain-openai
python-pptx
python-docx
unstructured
fastapi
uvicorn
python-multipart
rank_bm25
sentence-transformers
unstructured[pdf]
